body {
    min-height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********The model iphone SE(2020)white 2nd generation**********/
.iphone{
    margin: auto;
    border: 6px solid rgb(151, 151, 151);
    border-radius: 60px;
    width: 372px;
    height: 760px;
    position: absolute;
    background: -webkit-linear-gradient(left, #363636,#090909 4%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********iphone top Bezel**********/
.sensor{
    width: 15px;
    height: 7px;
    position: absolute;
    top: 20px;
    align-items: center;
    border-radius: 30%;
    box-shadow: inset rgb(71, 71, 71) -4px 0px 6px -4px;
    background: radial-gradient(#323333,#02050c 33%);
}


.camera{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 46px;
    left: 118px;
    border-radius: 50%;
    box-shadow: inset #666 -4px 0px 6px -4px;
    background: radial-gradient(#87888a,#030a18 33%);
}


.speaker{
    width: 80px;
    height: 8px;
    position: absolute;
    background: rgb(24, 23, 23);
    border-radius: 10px;
    top: 50px;
    box-shadow: inset #222 2 -2px 4px;
}

/**********iphone Display**********/
.display{
    background: #000;
    background-size: cover;
    width: 340px;
    height: 560px;
    margin: auto;
    position: absolute;
    align-items: center;
    
}

/**********Notifications and Status icon**********/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
img{
    width: 18px;
    height: 10px;
}

/**********Calculator Screen**********/
.screen{
    top: 70px;
    position: absolute;
    width: 320px;
    height: 100px;
    border: none;
    font-size: 4rem;
    padding: 10px;
    text-align: right;
    color: #fff;
    background: #000;
    pointer-events: none;
    
}
.buttons{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    bottom: 10px;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.4rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: #fff;
}
.btn-silver{
    color: #000;
    background: rgb(212, 212, 210);
}
.btn-yellow{
    background: rgb(255, 149, 0);
}
.btn-grey{
    background: rgb(80, 80, 80);
}
.btn-clear{
    background: rgb(100, 39, 39);
}
.btn-equal{
    background: rgb(39, 100, 39);
}

/**********Home/Touch ID**********/
.home{
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px solid #202020;
    background: rgb(10, 10, 10);
    top: 672px;
    left: 155px;
}

/*********Physical bottom**********/
p{
    position: absolute;
    background: rgb(186, 185, 185);
    height: 50px;
    width: 2px;
}
.silent{
    height: 25px;
    top: 110px;
    left: -8px;
}
.on-off{
    top: 170px;
    right: -9px;
}
.up{
    top: 170px;
    left: -9px;
}
.down{
    top: 240px;
    left: -9px;
}

/**********The annthena**********/
span{
    position: absolute;
    background: rgb(186, 185, 185);
    height: 10px;
    width: 5.6px;
}
.top-left{
    top: 60px;
    left: -6px;
}
.top-right{
    top: 60px;
    right: -6px;
}
.bottom-left{
    bottom: 60px;
    left: -6px;
}
.bottom-right{
    bottom: 60px;
    right: -6px;
}



